.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 100%;

    margin: 96px 0 0 0;

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 40px;
        font-weight: 700;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;

        .leftContent{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 520px;

            .descTitle{
                font-size: 30px;
                font-weight: 500;
                margin: 0 0 8px 0;
            }

            .desc{
                font-size: 14px;
                color: var(--l-black);
                margin: 0 0 140px 0;

                a{
                    color: var(--l-black);

                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            .social{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 30px;
                    aspect-ratio: 1/1;
                    background-color: var(--d-white);
                    border-radius: 100px;
                    margin: 0 16px 0 0;
                    transition: .2s ease-in-out;

                    &:hover{
                        background-color: var(--primary);
                        cursor: pointer;
                    }

                    img{
                        height: 16px;
                    }
                }
            }
        }

        .rightContent{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: column;
            height: 100%;
            width: 520px;

            .inputGrid{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;

                    .field{
                        position: relative;
                        margin: 0;

                        input, textarea{
                            padding: 8px 12px;
                            border: solid 2px var(--black);
                            outline: none;
                            border-radius: 6px;
                            transition: .2s ease-in-out;
                            color: var(--primary);
                            margin: 0 0 16px 0;
                            width: 400px;

                            &:focus, &:not(:placeholder-shown){
                                border: solid 2px var(--primary);

                                +label{
                                    top: -10px;
                                    left: 4px;
                                    font-size: 12px;
                                    background-color: var(--white);
                                    color: var(--primary)
                                }
                            }
                        }

                        .inputError{
                            border: solid 2px red;
                        }
                        

                        textarea{
                            height: 100px;
                            resize: none;
                            margin: 0 0 12px 0;
                        }

                        label{
                            position: absolute;
                            top: 7px;
                            left: 8px;
                            border: solid 2px transparent;
                            transition: .2s ease-in-out;
                            pointer-events: none;
                            font-size: 14px;
                        }
                    }

                    button{
                        width: 100%;
                        background-color: var(--primary);
                        color: var(--white);
                        font-weight: 500;
                        border: none;
                        border-radius: 8px;
                        outline: none;
                        padding: 8px 0;
                        transition: .2s ease-in-out;
                        margin: 0;

                        &:hover{
                            cursor: pointer;
                            -webkit-box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34); 
                            box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34);
                        }
                    }
                }
        }
    }
}