.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34); 
    box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34);
    transition: .5s ease-in-out;

    p{
        margin: 0;
        color: var(--white)
    }
}

.container.show{
    opacity: 1;
}

.container.hide{
    opacity: 0;
    pointer-events: none;
}