.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    z-index: 999;

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;

        .logoContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--black);

            .iconBackground{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 36px;

                aspect-ratio: 1/1;
                background-color: var(--primary);
                border-radius: 100px;
                
                img{
                    height: 22px;
                }
            }

            .logo{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                margin: 0 0 0 8px;

                p{
                    font-weight: 600;
                    font-size: 22px;
                    margin: 0;
                    padding: 0;

                    &:last-child{
                        font-size: 12px;
                        margin: -4px 0 0 0;
                        color: var(--l-black);
                        font-weight: normal;
                    }
                }
            }
        }

        .sectionContainer{
                display: flex;
                justify-content: center;
                align-items: center;

                ul{
                    display: flex;
                    margin: 0;
                    padding: 0;

                    li{
                        display: flex;
                        margin: 0 12px;
                        padding: 6px 12px;

                        a{
                            text-decoration: none;
                            color: var(--l-black);

                            &:hover{
                                color: var(--primary)
                            }
                        }
                    }
                }
            }

        .buttonContainer{
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: var(--white);
                border: solid 2px var(--primary);
                border-radius: 12px;
                padding: 8px;
                color: var(--primary);
                transition: .2s ease-in-out;
                margin: 0 6px 0 0;

                &:first-child{
                    background-color: var(--primary);
                    color: var(--white)
                }

                &:hover{
                    cursor: pointer;
                    -webkit-box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34); 
                    box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34);
                }
            }
        }
    }
}