.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../assets/blobbg.svg');
    background-size: cover;
    background-position: center;

    .leftContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 50%;

        .nameContainer{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-direction: column;
            height: 50%;
            width: 50%;

            p{
                margin: 0;
                padding: 0;

                &:nth-child(1){
                    font-size: 24px;
                }

                &:nth-child(2){
                    font-size: 50px;
                    font-weight: 700;
                    margin: 0 0 12px 0;
                }

                &:nth-child(3){
                    color: var(--l-black);
                }
                
            }
        }

        .buttonContainer{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 10%;
            width: 50%;

            a{
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                background-color: var(--primary);
                color: var(--white);
                border: solid 2px var(--primary);
                outline: none;
                padding: 10px 15px;
                border-radius: 12px;
                margin: 12px 12px 0 0;
                -webkit-box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34); 
                box-shadow: 0px 5px 15px 0px rgba(11,186,251,0.34);
                font-size: 14px;

                &:hover{
                    cursor: pointer;
                }

                &:nth-child(2){
                    background-color: transparent;
                    color: var(--primary);
                    box-shadow: none;
                    border: solid 2px var(--primary)
                }

                img{
                    height: 20px;
                    margin: 0 0 0 6px;
                }
            }
        }

        .socialContainer{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 45%;
            width: 50%;
            margin: 0 0 0 0;
            color: var(--l-black);
            
            a{
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: var(--d-white);
                width: 30px;
                aspect-ratio: 1/1;
                border-radius: 100px;
                margin: 0 6px 0 6px;
                transition: .3s ease-in-out;

                &:hover{
                    background-color: var(--primary);
                }

                img{
                    height: 16px;

                    
                }
            }
        }
    }

    .rightContent{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;

        .picContainer{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 40%;

            overflow: hidden;
            background-color: var(--primary);
            border-radius: 500px;

            img{
                width: 100%;
                margin: 0 0 -16px 0;
            }
        }

        .cardContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 50%;

            span{
                margin: 32px 0;
                text-align: end;
                width: 200px;

                p{
                    font-size: 40px;
                    font-weight: bold;
                    margin: 0 0 6px 0;

                    &:last-child{
                        font-size: 16px;
                        font-weight: normal;
                        margin: 0;
                    }
                }
            }
        }
    }
}