.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120vh;
    width: 100%;

    background-image: url('../assets/blobbg.svg');
    background-size: cover;

    .title{
        p{
            font-size: 40px;
            font-weight: 700;
        }
    }


    .projectContainer{
        display: grid;
        place-items: calc();
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}